{% extends 'base.html.twig' %}

{% block body_id 'reply_form_error' %}

{% block main %}
    <h1 class="text-danger">{{ 'title.comment_error'|trans }}</h1>

    <div class="well">
        {{ include('blog/_reply_form.html.twig') }}
    </div>
{% endblock %}
